In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark\\spark-3.3.1-bin-hadoop3'

In [3]:
import random
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('SparkApp').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [4]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, DoubleType
from pyspark.sql.functions import col, desc, max, min, asc, desc
schema = StructType(
    [
        StructField("id", IntegerType(), True),
        StructField("Name", StringType(), True),
        StructField("Author", StringType(), True),
        StructField("User Rating", DoubleType(), True),
        StructField("Reviews", DoubleType(), True),
        StructField("Price", DoubleType(), True),
        StructField("Year", DoubleType(), True),
        StructField("Genre", StringType(), True),
    ]
)
df_with_schema = (spark.read.format("csv")
      .option("header", "true")
      .schema(schema)
      .load("amazon.csv"))
    
# df = (spark.read.format("csv")
#   .option("inferSchema", "true")
#   .option("header", "true")
#   .load(csv_file))

In [5]:

df_with_schema.select("Author", "User Rating").where(col("User Rating") == df_with_schema.select(max('User Rating')).collect()[0][0]).show(5)

+---------------+-----------+
|         Author|User Rating|
+---------------+-----------+
|Bill Martin Jr.|        4.9|
|Bill Martin Jr.|        4.9|
|     Dav Pilkey|        4.9|
|     Dav Pilkey|        4.9|
|     Dav Pilkey|        4.9|
+---------------+-----------+
only showing top 5 rows

In [6]:
df_with_schema.select("Author", "User Rating").orderBy(asc("User Rating")).show(3)

+------------+-----------+
|      Author|User Rating|
+------------+-----------+
|J.K. Rowling|        3.3|
|  Harper Lee|        3.6|
|   E L James|        3.8|
+------------+-----------+
only showing top 3 rows

In [8]:
df_with_schema.groupBy("Author").sum("Reviews").orderBy(desc("sum(Reviews)")).show(1)

+---------------+------------+
|         Author|sum(Reviews)|
+---------------+------------+
|Suzanne Collins|    278329.0|
+---------------+------------+
only showing top 1 row

In [9]:
df_with_schema.groupBy("Name", "Author").count().orderBy(desc("count")).select("Name", "Author").groupBy("Author").count().orderBy(desc("count")).show(1)

+-----------+-----+
|     Author|count|
+-----------+-----+
|Jeff Kinney|   12|
+-----------+-----+
only showing top 1 row

In [25]:
df_with_schema.where(col("Genre") == "Fiction").select("Name", "Author", "User Rating", "Genre").orderBy(asc("User Rating")).show(1)

+------------------+------------+-----------+-------+
|              Name|      Author|User Rating|  Genre|
+------------------+------------+-----------+-------+
|The Casual Vacancy|J.K. Rowling|        3.3|Fiction|
+------------------+------------+-----------+-------+
only showing top 1 row

In [26]:
df_with_schema.where(col("Genre") == "Non Fiction").select("Name", "Author", "User Rating", "Genre").orderBy(desc("User Rating")).show(1)

+--------------------+------------------+-----------+-----------+
|                Name|            Author|User Rating|      Genre|
+--------------------+------------------+-----------+-----------+
|Hamilton: The Rev...|Lin-Manuel Miranda|        4.9|Non Fiction|
+--------------------+------------------+-----------+-----------+
only showing top 1 row